{{#each erros}}
    <div class='alert alert-danger'>{{texto}}</div>
{{else}}

{{/each}}

<div class='card'>
    <div class="card-body">
        <h2>Editar Postagem:</h2>
        <form action="/admin/postagem/edit" method='POST'> <!-- ROTA QUE ENVIA OS DADOS  -->
            <input type="hidden" value='{{postagem._id}}' name="id">
            <input type="hidden" value='{{postagem.data}}' name="data">
            <label for="titulo">Título:</label>
            <input type="text" name='titulo' class='form-control mt-1' value='{{postagem.titulo}}' required>
            <label for="slug" class='mt-3'>Slug: </label>
            <input type="text" name='slug' class='form-control mt-1' value='{{postagem.slug}}' required>
            <label for="descricao" class='mt-3'>Descrição: </label>
            <input type="text" name='descricao' class='form-control mt-1' value='{{postagem.descricao}}' required>
            <label for="conteudo" class='mt-3'>Conteúdo: </label>
            <textarea name="conteudo" class='form-control' required>{{postagem.conteudo}}</textarea>
            <label for="categoria" class='mt-3'>Categoria: </label>
            <select name="categoria" class='form-select' required>
                <option value="0"></option>
                {{#each categorias}}
                    <option value="{{_id}}">{{nome}}</option>></option>
                {{else}}
                    <option value="0">Nenhuma categoria registrada!</option>
                {{/each}}
            </select>
            <button class='btn btn-success mt-3' type='submit'>Editar Postagem</button>
        </form>
    </div>
</div>